<!DOCTYPE html>
<html ng-app="firstApp"> 
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">

      <!-- declares that the elements in side of a particular element belong to a controller -->
      <div ng-controller="MyFirstController">
        <h1>My name is: {{name}}</h1>
        <input ng-model="name" type="text" placeholder="What is your name">
      </div>

      <div ng-controller="ExercisesController">
        <h1>My favorite color is: {{favColor}}</h1>
        <input ng-model="favColor" type="text" placeholder="What is your name">
        <h1>Seconds in a century</h1>
        <p>There are {{secondsInACentury}} seconds in a century</p>
        <h1>Time now</h1>
        <p>{{time | date:'fullDate'}}</p>
      </div>

    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="controller.js"></script>
  </body>
</html>
